<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.df.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.df.pojo.Category">
    <!--@mbg.generated-->
    <!--@Table category-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `name`, category_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.df.pojo.Category" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category (parent_id, `name`, category_name
      )
    values (#{parentId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.df.pojo.Category" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null and parentId != ''">
        parent_id,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="categoryName != null and categoryName != ''">
        category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null and parentId != ''">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null and categoryName != ''">
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.df.pojo.Category">
    <!--@mbg.generated-->
    update category
    <set>
      <if test="parentId != null and parentId != ''">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null and categoryName != ''">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.df.pojo.Category">
    <!--@mbg.generated-->
    update category
    set parent_id = #{parentId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-10-14-->
  <select id="findAllByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from category
        <where>
            <if test="parentId != null and parentId != ''">
              and parentId=#{parentId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>