<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.df.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.df.pojo.Category">
    <!--@mbg.generated-->
    <!--@Table category-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="parent_name" jdbcType="VARCHAR" property="parentName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `name`, category_name, parent_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.df.pojo.Category" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category (parent_id, `name`, category_name, 
      parent_name)
    values (#{parentId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{parentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.df.pojo.Category" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null and parentId != ''">
        parent_id,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="categoryName != null and categoryName != ''">
        category_name,
      </if>
      <if test="parentName != null and parentName != ''">
        parent_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null and parentId != ''">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null and categoryName != ''">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null and parentName != ''">
        #{parentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.df.pojo.Category">
    <!--@mbg.generated-->
    update category
    <set>
      <if test="parentId != null and parentId != ''">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null and categoryName != ''">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="parentName != null and parentName != ''">
        parent_name = #{parentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.df.pojo.Category">
    <!--@mbg.generated-->
    update category
    set parent_id = #{parentId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      parent_name = #{parentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-10-14-->
  <select id="findAllByParentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from category
        <where>
            <if test="parentId != null and parentId != ''">
              and parent_id=#{parentId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-10-14-->
  <select id="findIdByName" resultType="java.lang.Integer">
    select id
    from category
    where `name`=#{name,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-10-30-->
  <update id="updateByName">
    update category
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=INTEGER},
      </if>
      <if test="updated.parentId != null and updated.parentId != ''">
        parent_id = #{updated.parentId,jdbcType=VARCHAR},
      </if>
      <if test="updated.name != null and updated.name != ''">
        name = #{updated.name,jdbcType=VARCHAR},
      </if>
      <if test="updated.categoryName != null and updated.categoryName != ''">
        category_name = #{updated.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="updated.parentName != null and updated.parentName != ''">
        parent_name = #{updated.parentName,jdbcType=VARCHAR},
      </if>
    </set>
    where `name`=#{name,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-11-02-->
  <update id="updateNameByName">
    update category
    set `name`=#{updatedName,jdbcType=VARCHAR}
    <where>
      <if test="name != null and name != ''">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
    </where>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-11-02-->
  <update id="updateNameById">
    update category
    set `name`=#{updatedName,jdbcType=VARCHAR}
    where id=#{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-11-19-->
  <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
    </select>
</mapper>