<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.df.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.df.pojo.Role">
    <!--@mbg.generated-->
    <!--@Table `role`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="menus" jdbcType="VARCHAR" property="menus" />
    <result column="__v" jdbcType="INTEGER" property="v" />
    <result column="auth_time" jdbcType="TIMESTAMP" property="authTime" />
    <result column="auth_name" jdbcType="VARCHAR" property="authName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, create_time, menus, __v, auth_time, auth_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `role`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `role`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.df.pojo.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `role` (`name`, create_time, menus, 
      __v, auth_time, auth_name
      )
    values (#{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{menus,jdbcType=VARCHAR}, 
      #{v,jdbcType=INTEGER}, #{authTime,jdbcType=TIMESTAMP}, #{authName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.df.pojo.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `role`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="menus != null">
        menus,
      </if>
      <if test="v != null">
        __v,
      </if>
      <if test="authTime != null">
        auth_time,
      </if>
      <if test="authName != null">
        auth_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menus != null">
        #{menus,jdbcType=VARCHAR},
      </if>
      <if test="v != null">
        #{v,jdbcType=INTEGER},
      </if>
      <if test="authTime != null">
        #{authTime,jdbcType=TIMESTAMP},
      </if>
      <if test="authName != null">
        #{authName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.df.pojo.Role">
    <!--@mbg.generated-->
    update `role`
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menus != null">
        menus = #{menus,jdbcType=VARCHAR},
      </if>
      <if test="v != null">
        __v = #{v,jdbcType=INTEGER},
      </if>
      <if test="authTime != null">
        auth_time = #{authTime,jdbcType=TIMESTAMP},
      </if>
      <if test="authName != null">
        auth_name = #{authName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.df.pojo.Role">
    <!--@mbg.generated-->
    update `role`
    set `name` = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      menus = #{menus,jdbcType=VARCHAR},
      __v = #{v,jdbcType=INTEGER},
      auth_time = #{authTime,jdbcType=TIMESTAMP},
      auth_name = #{authName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>